$primaryColor: #000000;
$linkColor: #940d0d;
$lightBackground: #fff;
$greyBackgound: #cec9c9;
$headerBackgroud: #202020;
$errorMessage: #f10202;
$mandatoryField: $errorMessage;
$borderColor: #1416a8;
